*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
}
.container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 100%;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 4rem;
}
.part1{
    background-image: url(./images/image-equilibrium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}
.part2 h3{
    color: hsl(0, 0%, 100%);
}
.part4{
    display: flex;
    justify-content: space-between;
}
.svg{
    display: flex;
    gap: .5rem;
}
.part5{
    display: flex;
    gap: 2rem;
    align-items: center;
    /* justify-content: space-between; */

}
.image2{
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.jules{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.jules h3{
    color: hsl(0, 0%, 100%);
}